Repository Shopify/quilt, pull requests merged in 2018-11, with the labels that each got.

#399 Update koa-metrics to use distribution
  packages/koa-metrics/README.md
  packages/koa-metrics/src/Metrics.ts
  packages/koa-metrics/src/index.ts
  packages/koa-metrics/src/test/Metrics.test.ts
  packages/koa-metrics/src/test/index.test.ts
Labels: Package: koa-metrics, Type: Bug 🐛

#402 Prevent GA calls in disableTracking and debug mode
  packages/react-google-analytics/src/GaJS.tsx
  packages/react-google-analytics/src/Universal.tsx
  packages/react-google-analytics/src/tests/Universal.test.tsx
Labels: Package: react-google-analytics, Type: Bug 🐛

#420 🐛 make sure un-mounted form state no longer perform setState
  packages/react-form-state/src/FormState.ts
  packages/react-form-state/src/tests/FormState.test.tsx
Labels: Package: react-form-state, Type: Bug 🐛
