Repository Shopify/quilt, pull requests merged in 2018-10, with the labels that each got.

#325 ✨ Add the ability to set a nonce for comply with script-src CSP
  packages/react-import-remote/src/ImportRemote.tsx
  packages/react-import-remote/src/load.ts
  packages/react-import-remote/src/test/ImportRemote.test.tsx
  packages/react-import-remote/src/test/load.test.ts
Labels: Package: react-import-remote, Type: Enhancement 📈

#332 🐛Fix broken Validator guide markdown link
  packages/react-form-state/docs/building-forms.md
Labels: Package: react-form-state

#320 Fix Nested and List race condition
  packages/react-form-state/CHANGELOG.md
  packages/react-form-state/src/FormState.ts
  packages/react-form-state/src/components/List.tsx
  packages/react-form-state/src/components/Nested.tsx
  packages/react-form-state/src/components/tests/List.test.tsx
  packages/react-form-state/src/components/tests/Nested.test.tsx
  packages/react-form-state/src/types.ts
Labels: Package: react-form-state

#340 Fix race condition when using multiple levels of Nested and List
  packages/react-form-state/CHANGELOG.md
  packages/react-form-state/src/components/List.tsx
  packages/react-form-state/src/components/Nested.tsx
  packages/react-form-state/src/components/tests/List.test.tsx
  packages/react-form-state/src/components/tests/Nested.test.tsx
Labels: Package: react-form-state

#352 ✨ Add new package: `@shopify/csrf-token-fetcher`
  README.md
  packages/csrf-token-fetcher/README.md
  packages/csrf-token-fetcher/package.json
  packages/csrf-token-fetcher/src/index.ts
  packages/csrf-token-fetcher/src/test/index.test.ts
  packages/csrf-token-fetcher/tsconfig.build.json
Labels: New package 🎉

#346 🎨 Use reduceRight for react-compose
  packages/react-compose/src/index.ts
Labels: Package: react-compose

#341 ✅jest-mock-apollo tests
  packages/jest-mock-apollo/src/Requests.ts
  packages/jest-mock-apollo/src/test/MockApolloLink.test.ts
  packages/jest-mock-apollo/src/test/Requests.test.ts
  packages/jest-mock-apollo/src/test/fixtures/PetQuery.graphql
  packages/jest-mock-apollo/src/test/index.test.tsx
Labels: Package: jest-mock-apollo

#317 ✨Adds the ability to disable tracking
  packages/react-google-analytics/README.md
  packages/react-google-analytics/src/GaJS.tsx
  packages/react-google-analytics/src/Universal.tsx
  packages/react-google-analytics/src/tests/GaJS.test.tsx
  packages/react-google-analytics/src/tests/Universal.test.tsx
Labels: Package: react-google-analytics, Type: Enhancement 📈
