Repository Shopify/quilt, pull requests merged in 2018-12, with the labels that each got.

#432 👌 fix formstate FAQ being in a weird spot
  documentation/FAQ.md
  packages/react-form-state/docs/FAQ.md
Labels: Package: react-form-state

#312 [react-form-state] Stop Unnecessary Re-Renders of List and Nested
  packages/react-form-state/src/components/List.tsx
  packages/react-form-state/src/components/Nested.tsx
  packages/react-form-state/src/components/tests/List.test.tsx
  packages/react-form-state/src/components/tests/Nested.test.tsx
Labels: Area: performance 🚀, Package: react-form-state

#424 Allow keyboard shortcuts for alternate modifier combinations
  packages/react-shortcuts/README.md
  packages/react-shortcuts/src/Shortcut/Shortcut.tsx
  packages/react-shortcuts/src/ShortcutManager/ShortcutManager.tsx
  packages/react-shortcuts/src/index.ts
  packages/react-shortcuts/src/keys.ts
  packages/react-shortcuts/src/tests/ShortcutManager.test.tsx
Labels: Package: react-shortcuts

#327 ✨ Pass the nonce prop to <ImportRemote />
  packages/react-google-analytics/src/GaJS.tsx
  packages/react-google-analytics/src/Universal.tsx
  packages/react-google-analytics/src/tests/GaJS.test.tsx
  packages/react-google-analytics/src/tests/Universal.test.tsx
Labels: Package: react-google-analytics, Type: Enhancement 📈
