Repository Shopify/quilt, pull requests merged in 2019-08, with the labels that each got.

#846 🔥remove Props<T> from useful-types
  packages/react-testing/src/element.ts
  packages/react-testing/src/matchers/components.ts
  packages/react-testing/src/matchers/index.ts
  packages/react-testing/src/root.tsx
  packages/react-testing/src/types.ts
  packages/useful-types/CHANGELOG.md
  packages/useful-types/README.md
  packages/useful-types/package.json
  packages/useful-types/src/types.ts
  yarn.lock
Labels: Package: useful-types, dependencies

#847 🐛 Remove unused koa-shopify-graphql-proxy import
  packages/react-server-webpack-plugin/CHANGELOG.md
  packages/react-server-webpack-plugin/src/react-server-webpack-plugin.ts
Labels: Package: react-server-webpack-plugin

#922 ✨ @shopify/react-app-bridge-universal-provider
  README.md
  packages/react-app-bridge-universal-provider/CHANGELOG.md
  packages/react-app-bridge-universal-provider/README.md
  packages/react-app-bridge-universal-provider/package.json
  packages/react-app-bridge-universal-provider/src/AppBridgeUniversalProvider.tsx
  packages/react-app-bridge-universal-provider/src/index.ts
  packages/react-app-bridge-universal-provider/src/test/AppBridgeUniversalProvider.test.tsx
  packages/react-app-bridge-universal-provider/tsconfig.build.json
  packages/react-csrf-universal-provider/src/test/CsrfUniversalProvider.test.tsx
  packages/react-universal-provider/src/test/create-universal-provider.test.tsx
Labels: New package 🎉

#921 ✨ add `@shopify/react-graphql-universal-provider`
  README.md
  packages/react-graphql-universal-provider/CHANGELOG.md
  packages/react-graphql-universal-provider/README.md
  packages/react-graphql-universal-provider/package.json
  packages/react-graphql-universal-provider/src/GraphQLUniversalProvider.tsx
  packages/react-graphql-universal-provider/src/index.ts
  packages/react-graphql-universal-provider/src/test/GraphQLUniversalProvider.test.tsx
  packages/react-graphql-universal-provider/tsconfig.build.json
Labels: New package 🎉

#920 ✨ add `@shopify/react-i18n-universal-provider`
  README.md
  packages/react-graphql-universal-provider/README.md
  packages/react-i18n-universal-provider/CHANGELOG.md
  packages/react-i18n-universal-provider/README.md
  packages/react-i18n-universal-provider/package.json
  packages/react-i18n-universal-provider/src/I18nUniversalProvider.tsx
  packages/react-i18n-universal-provider/src/index.ts
  packages/react-i18n-universal-provider/src/test/I18nUniversalProvider.test.tsx
  packages/react-i18n-universal-provider/tsconfig.build.json
Labels: New package 🎉

#928 Fix SSR when using cache-and-network fetchPolicy
  packages/react-graphql/CHANGELOG.md
  packages/react-graphql/src/hooks/query.ts
Labels: Package: react-graphql

#900 Lists throw an error when nested in other lists
  packages/react-form-state/CHANGELOG.md
  packages/react-form-state/src/components/List.tsx
  packages/react-form-state/src/components/tests/List.test.tsx
Labels: Type: Bug 🐛
