Repository Shopify/quilt, pull requests merged in 2019-10, with the labels that each got.

#1068 ✨ start a new package
  README.md
  packages/statsd/CHANGELOG.md
  packages/statsd/README.md
  packages/statsd/documentation/decisions/01 - We use hot-shots as our dogstatsd client.md
  packages/statsd/package.json
  packages/statsd/src/client.ts
  packages/statsd/src/index.ts
  packages/statsd/src/test/client.test.ts
  packages/statsd/tsconfig.build.json
  templates/ROOT_README.hbs.md
Labels: New package 🎉

#1093 [react-i18n] Remove leading zero from time in humanized dates
  packages/react-i18n/CHANGELOG.md
  packages/react-i18n/src/i18n.ts
Labels: Package: react-i18n

#1107 cacheEffectiveness now uses duration=0 as a cache hit
  packages/performance/CHANGELOG.md
  packages/performance/src/navigation.ts
  packages/performance/src/test/navigation.test.ts
Labels: Area: performance 🚀, Package: performance

#1131 Warn developers about quilt_rails' performance issues
  gems/quilt_rails/README.md
Labels: Area: documentation, Gem: quilt_rails
