Repository Shopify/quilt, pull requests merged in 2019-03, with the labels that each got.

#534 Fix broken link in react-html readme
  packages/react-html/README.md
Labels: Package: react-html

#558 Add optional prop to <FormState.Nested> and <FormState.List> to re-render
  packages/react-form-state/docs/building-forms.md
  packages/react-form-state/src/components/List.tsx
  packages/react-form-state/src/components/Nested.tsx
  packages/react-form-state/src/components/tests/List.test.tsx
  packages/react-form-state/src/components/tests/Nested.test.tsx
Labels: Package: react-form-state

#562 allows specification of renderLoading in consumer
  packages/react-async/README.md
  packages/react-async/src/Async.tsx
  packages/react-async/src/tests/component.test.tsx
Labels: Type: Enhancement 📈

#566 upgrading to GraphQL v14
  package.json
  packages/graphql-testing/package.json
  packages/jest-mock-apollo/package.json
  packages/jest-mock-apollo/src/MockApolloLink.ts
  packages/react-effect-apollo/package.json
  packages/react-graphql/package.json
  yarn.lock
Labels: Package: jest-mock-apollo, Type: Enhancement 📈
