Repository Shopify/quilt, pull requests merged in 2019-06, with the labels that each got.

#732 Update documentation for performance
  packages/performance/README.md
Labels: Area: performance 🚀

#751 Fix useQuery data returned value
  packages/react-graphql/CHANGELOG.md
  packages/react-graphql/src/hooks/query.ts
Labels: Package: react-graphql

#771 [react-i18n] Pass loading state to I18n class
  packages/react-i18n/CHANGELOG.md
  packages/react-i18n/src/hooks.tsx
  packages/react-i18n/src/i18n.ts
  packages/react-i18n/src/test/i18n.test.ts
Labels: Package: react-i18n
