Repository Shopify/quilt, pull requests merged in 2019-09, with the labels that each got.

#989 [@shopify/dates] ✨ Add `isLessThanOne*` functions
  packages/dates/CHANGELOG.md
  packages/dates/UNRELEASED.md
  packages/dates/src/constants/index.ts
  packages/dates/src/index.ts
  packages/dates/src/is-less-than-one-day-ago.ts
  packages/dates/src/is-less-than-one-hour-ago.ts
  packages/dates/src/is-less-than-one-minute-ago.ts
  packages/dates/src/is-less-than-one-week-ago.ts
  packages/dates/src/is-less-than-one-year-ago.ts
  packages/dates/src/tests/is-less-than-one-day-ago.test.ts
  packages/dates/src/tests/is-less-than-one-hour-ago.test.ts
  packages/dates/src/tests/is-less-than-one-minute-ago.test.ts
  packages/dates/src/tests/is-less-than-one-week-ago.test.ts
  packages/dates/src/tests/is-less-than-one-year-ago.test.ts
Labels: Package: dates, Type: Enhancement 📈

#1004 ✨ quilt_rails CSRF strategy to allow UI server requests
  gems/quilt_rails/CHANGELOG.md
  gems/quilt_rails/README.md
  gems/quilt_rails/lib/quilt_rails.rb
  gems/quilt_rails/lib/quilt_rails/trusted_ui_server_csrf_strategy.rb
Labels: Gem: quilt_rails

#1003 Add `i18n.ordinal()` method to `@shopify/react-i18n`
  packages/react-i18n/CHANGELOG.md
  packages/react-i18n/README.md
  packages/react-i18n/src/i18n.ts
  packages/react-i18n/src/test/i18n.test.ts
Labels: Package: react-i18n

#1011 [react-i18n] Modify translation keys used by I18n#humanizeDate
  packages/react-i18n/CHANGELOG.md
  packages/react-i18n/migration-guide.md
  packages/react-i18n/src/i18n.ts
  packages/react-i18n/src/test/i18n.test.ts
Labels: Package: react-i18n
