Repository Shopify/quilt, pull requests merged in 2020-01, with the labels that each got.

#1231 Fix typo in jest-dom-mocks Readme
  packages/jest-dom-mocks/README.md
Labels: Package: jest-dom-mocks

#1247 Improve @shopify/react-i18n-universal-provider documentation
  packages/react-i18n-universal-provider/CHANGELOG.md
  packages/react-i18n-universal-provider/README.md
Labels: Area: documentation

#1250 Allow the assetName to be passed in options to react-server
  packages/react-server/CHANGELOG.md
  packages/react-server/README.md
  packages/react-server/src/render/render.tsx
  packages/react-server/src/render/test/render.test.tsx
  packages/react-server/src/server/server.ts
Labels: Package: react-server
