Repository Shopify/quilt, pull requests merged in 2020-10, with the labels that each got.

#1646 Reexport hooks from react-router-dom
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/react-router/src/index.ts
  yarn.lock
Labels: Package: react-router

#1650 [statsd] Update hot-shots dependencies
  packages/statsd/CHANGELOG.md
  packages/statsd/package.json
  packages/statsd/src/client.ts
  packages/statsd/src/test/client.test.ts
  yarn.lock
Labels: Package: statsd

#1656 Update broken links in docs
  .github/CONTRIBUTING.md
  Decision records/README.md
  documentation/getting-started.md
  packages/react-form-state/docs/FAQ.md
  packages/react-html/README.md
  packages/react-i18n/README.md
  packages/react-testing/README.md
Labels: Area: documentation

#1587 Add section for graphQL.update() to graphql-testing readme
  packages/graphql-testing/README.md
Labels: Area: documentation, Package: graphql-testing
