Repository Shopify/quilt, pull requests merged in 2020-04, with the labels that each got.

#1353 [react-form] Fixed getValue on empty array
  packages/react-form/CHANGELOG.md
  packages/react-form/README.md
  packages/react-form/src/hooks/dirty.ts
  packages/react-form/src/test/utilities.test.ts
  packages/react-form/src/utilities.ts
Labels: Package: react-form, Type: Bug 🐛

#1404 Hooks argument type fixes
  packages/react-async/CHANGELOG.md
  packages/react-async/src/hooks.ts
Labels: Package: react-async

#1393 Typo correction in the ReadMe.md file
  packages/react-graphql/README.md
Labels: Area: documentation

#1392 Typo correction in Readme.md
  packages/react-testing/README.md
Labels: Area: documentation
