Repository Shopify/quilt, pull requests merged in 2020-09, with the labels that each got.

#1603 Fix web-foundations link in react-testing decision
  Decision records/01 - Use our own testing library for testing React codebases.md
Labels: Area: documentation, Package: react-testing

#1621 Remove packages/koa-shopify-auth and update READMEs
  README.md
  packages/koa-shopify-auth/README.md
  packages/koa-shopify-auth/package.json
  packages/koa-shopify-auth/src/auth/client/itp-helper.ts
  packages/koa-shopify-auth/src/auth/client/polaris-css.ts
  packages/koa-shopify-auth/src/auth/client/request-storage-access.ts
  packages/koa-shopify-auth/src/auth/client/storage-access-helper.ts
  packages/koa-shopify-auth/src/auth/client/top-level-interaction.ts
  packages/koa-shopify-auth/src/auth/cookie-options.ts
  packages/koa-shopify-auth/src/auth/create-enable-cookies.ts
  packages/koa-shopify-auth/src/auth/create-oauth-callback.ts
  packages/koa-shopify-auth/src/auth/create-oauth-start.ts
  packages/koa-shopify-auth/src/auth/create-request-storage-access.ts
  packages/koa-shopify-auth/src/auth/create-top-level-oauth-redirect.ts
  packages/koa-shopify-auth/src/auth/create-top-level-redirect.ts
  packages/koa-shopify-auth/src/auth/errors.ts
  packages/koa-shopify-auth/src/auth/index.ts
  packages/koa-shopify-auth/src/auth/oauth-query-string.ts
  packages/koa-shopify-auth/src/auth/redirection-page.ts
  packages/koa-shopify-auth/src/auth/test/cookie-options.test.ts
  packages/koa-shopify-auth/src/auth/test/enable-cookies.test.ts
  packages/koa-shopify-auth/src/auth/test/index.test.ts
  packages/koa-shopify-auth/src/auth/test/oauth-callback.test.ts
  packages/koa-shopify-auth/src/auth/test/oauth-query-string.test.ts
  packages/koa-shopify-auth/src/auth/test/oauth-start.test.ts
  packages/koa-shopify-auth/src/auth/test/redirection-page.test.ts
  packages/koa-shopify-auth/src/auth/test/top-level-oauth-redirect.test.ts
  packages/koa-shopify-auth/src/auth/test/top-level-redirect.test.ts
  packages/koa-shopify-auth/src/auth/test/validate-hmac.test.ts
  packages/koa-shopify-auth/src/auth/validate-hmac.ts
  packages/koa-shopify-auth/src/index.ts
  packages/koa-shopify-auth/src/types.ts
  packages/koa-shopify-auth/src/verify-request/index.ts
  packages/koa-shopify-auth/src/verify-request/login-again-if-different-shop.ts
  packages/koa-shopify-auth/src/verify-request/tests/verify-request.test.ts
  packages/koa-shopify-auth/src/verify-request/types.ts
  packages/koa-shopify-auth/src/verify-request/utilities.ts
  packages/koa-shopify-auth/src/verify-request/verify-request.ts
  packages/koa-shopify-auth/src/verify-request/verify-token.ts
  packages/koa-shopify-auth/tsconfig.json
  packages/koa-shopify-graphql-proxy/README.md
  packages/tsconfig.json
Labels: Package: koa-shopify-auth

#1632 [react-i18n] Update currencies
  packages/react-i18n/CHANGELOG.md
  packages/react-i18n/src/currencyCode.ts
Labels: Package: react-i18n

#1623 [react-i18n] Fixes time zone handling for humanized date style
  packages/react-i18n/CHANGELOG.md
  packages/react-i18n/src/i18n.ts
  packages/react-i18n/src/test/i18n.test.ts
Labels: Package: react-i18n
